* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 95%;
    margin: 0px auto;
}

.row {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}