.container {
    max-width: 500px;
    margin: 20px auto;
}


.title {
    font-size: 18px;
    padding-bottom: 10px;
}

.input {
    outline: none;
    border-radius: 0;
    padding: 10px;
}

@media(max-width: 576px){
    .container {
        margin: 20px 0;
    }
 }