.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 30px;
  background: #7b07c8;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 9;
  -webkit-box-shadow: 0px 9px 8px 0px rgba(11, 38, 244, 0.15);
  -moz-box-shadow: 0px 9px 8px 0px rgba(11, 38, 244, 0.15);
  box-shadow: 0px 9px 8px 0px rgba(11, 38, 244, 0.15);
}

.navBarList {
  display: flex;
  align-items: center;
}

.navBarItem {
  padding: 0px 15px;
}

.navBarItem:last-child {
  padding-right: 0;
}

.navBarLink {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.logoWrapper {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
