.containerUserMenu {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.inputWrapper {
    padding-bottom: 20px;
}

.input {
    width: 100%;
}
 .btnBox {
    margin-top: 30px;
}

.btnBox {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.btn{
    margin: 0px 5px !important;
    min-width: 80px;
    width: 100%;
}

.title {
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: 600;
    color: #009fe9;
}

@media(max-width: 520px){
    .btnBox {
        flex-direction: column;
    }

    .btn {
        margin: 15px 0 0 !important;
    }
}
